<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="styl.css">
    </head>
    <body>
        <form method="GET">
            <h1 class="nadpis">Recenze</h1>
            <label for="login">Uživatel: </label>
            <input type="text" placeholder="Jméno">
            <label for="recenze">Recenze: </label>
            <input
                type="text"
                placeholder="Napiš recenzi" />
            <p></p>
            <!-- Místo tří teček by se mělo doplnit recenzi, kterou odeslal uživatel ve formuláři -->
             <button>Odešli odpověď</button>
    </body>
</html>
